Project Development Phase/Project Development - Delivery Of Sprint-3/flows .json
[{"id":"b0bda09e254f129a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f2f2649a.0d0d98","type":"debug","z":"b0bda09e254f129a","name":"","active":true,"console":"false","complete":"false","x":510,"y":60,"wires":[]},{"id":"0339c0a8a65b8228","type":"ibmiot in","z":"b0bda09e254f129a","authentication":"apiKey","apiKey":"7a9d544880efb1b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"CHILD1234","applicationId":"","deviceType":"CHILD","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":60,"wires":[["de3b14a9cb56d3d9"]]},{"id":"de3b14a9cb56d3d9","type":"function","z":"b0bda09e254f129a","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":60,"wires":[["f2f2649a.0d0d98","13957ccee92433cb"]]},{"id":"13957ccee92433cb","type":"function","z":"b0bda09e254f129a","name":"","func":"msg.payload={\n    \"name\": global.get('name'),\n    \"lat\": global.get('latitude'),\n    \"lon\": global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":120,"wires":[["3620f7dd69559998","8f4f321056a508e6"]]},{"id":"640ed3c7240ea10e","type":"function","z":"b0bda09e254f129a","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[["d1753f8782e6d491"]]},{"id":"adfb031f2799bdd1","type":"function","z":"b0bda09e254f129a","name":"","func":"var d = new Date();\nvar utc = d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc +(3600000 * offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : global.get('name'),\n    \"lat\" : global.get('latitude'),\n    \"lon\" : global.get('longitude')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["47fc8bfb8c9e3956","4af4aa609b93105a","9c19e0c490660f31"]]},{"id":"c380aaeae97cd6a3","type":"function","z":"b0bda09e254f129a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":360,"wires":[["d2abd608b9742417"]]},{"id":"da9c1e4e0fd8d792","type":"function","z":"b0bda09e254f129a","name":"","func":"var d = new Date();\nvar utc = d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc +(3600000 * offset));\nmsg.payload = {\n    \"message\" : \"Entry\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : global.get('name'),\n    \"lat\" : global.get('latitude'),\n    \"lon\" : global.get('longitude')\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":320,"wires":[["448b4872ceca9826","d2abd608b9742417"]]},{"id":"3620f7dd69559998","type":"worldmap","z":"b0bda09e254f129a","name":"worldmap","lat":"17.4225176","lon":"78.5458842","zoom":"16","layer":"EsriS","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":520,"y":120,"wires":[]},{"id":"8f4f321056a508e6","type":"geofence","z":"b0bda09e254f129a","name":"","mode":"circle","inside":"both","rad":200664.86644273356,"points":[],"centre":{"latitude":13.03290450309641,"longitude":78.70177681557834},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":260,"y":180,"wires":[["640ed3c7240ea10e"]]},{"id":"d1753f8782e6d491","type":"rbe","z":"b0bda09e254f129a","name":"rbe","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":410,"y":240,"wires":[["97d3d64d4f81bb2b"]]},{"id":"97d3d64d4f81bb2b","type":"switch","z":"b0bda09e254f129a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":280,"wires":[["adfb031f2799bdd1","da9c1e4e0fd8d792","c380aaeae97cd6a3"],[]]},{"id":"448b4872ceca9826","type":"cloudant out","z":"b0bda09e254f129a","name":"child","cloudant":"9557abc8eeb72461","database":" node-red-xiyvr-2022--cloudant-1667489015602","service":"_ext_","payonly":false,"operation":"insert","x":410,"y":320,"wires":[]},{"id":"d2abd608b9742417","type":"debug","z":"b0bda09e254f129a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"4af4aa609b93105a","type":"debug","z":"b0bda09e254f129a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":200,"wires":[]},{"id":"47fc8bfb8c9e3956","type":"http request","z":"b0bda09e254f129a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=x75VJTLUc8PgdjKHXpsO6ozSGW3qQ4Dr1vmuEFiMCA2YnZBNa0EaR0lq3UViHwGs4rQ9pjSvyALKgYf2&route=v3&sender_id=&message=&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":260,"wires":[["4af4aa609b93105a"]]},{"id":"9c19e0c490660f31","type":"e-mail","z":"b0bda09e254f129a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"show dialog","credentials":{},"x":610,"y":320,"wires":[]},{"id":"7a9d544880efb1b8","type":"ibmiot","name":"child","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9557abc8eeb72461","type":"cloudant","host":"https://414ba4ce-4160-41cf-b6ae-41916c27a779-bluemix.cloudant.com/","name":""}]